<div id="left_widget" style="margin-top: 20px; text-align: center; width:100px; height: 400px; background-color:#EEEEEE; display:inline-block; border-right: 1px solid black; border-bottom: 5px double black; border-top: 1px solid black; border-left: 1px solid black; float: left; border-radius: 20px;">
  Календарь
  <input type="text" style="width:80px; margin-bottom: 20px;" id="datepicker"/>
  Этапы TDD
  <select style="width:80px; margin-bottom: 20px;">
    <option value="volvo">Дизайн ПО</option>
    <option value="saab">Проектирование ПО</option>
    <option value="mercedes">Имплементация ПО</option>
    <option value="audi">Тестирование ПО</option>
  </select>

    
  Разработчик:
  <%= image_tag(gravatar_url_for 'ariekdev@gmail.com')%>
  <%= image_tag(gravatar_url_for('ariekdev@gmail.com'), { :width => 80, :height => 80 }) %>
  <div style="margin-top: 50px">2012</div>

</div>

<div id="accordion" style="display: inline-block; float: right; width: 200px; margin-top: 20px; font-size: 10px;">
	<h3><a href="#">Следующие задачи</a></h3>
	<div>
          <p>1. Добавить чат</p>
          <p>2. Добавить регистрацию</p>
          <p>3. Типы пользователей</p>
          <p>4. Создать <a href="http://ru.wikipedia.org/wiki/%D0%93%D0%B8%D0%B1%D0%BA%D0%B0%D1%8F_%D0%BC%D0%B5%D1%82%D0%BE%D0%B4%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F_%D1%80%D0%B0%D0%B7%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B8">итерационный</a> план</p>
	</div>
	<h3><a href="#">Заметки</a></h3>
	<div>
          <p>1. Соединиться с Amazon</p>
          <p>2. Настроить безопасный трансфер файлов (HTTPS протокол)</p>
          <p>3. Postmark API</p>
          <p>4. Social Networks</p>
          <p>5. <a href="www.apptrajectory.com">www.apptrajectory.com</a></p>
	</div>
	<h3><a href="#">Стоимость оплаты</a></h3>
	<div>
          <p>Web-Development (Senor Ruby on Rails developer)</p>
          <ul>
            <li>Итерационная</li>
            <li>Поквартальная</li>
            <li>Иная</li>
            <li>Учет рисков, предоплата и т.д.</li>
          </ul>
	</div>
</div>

<!--<div style="display: inline-block; float: right; width: 100px; margin-top: 20px; font-size: 10px;">
    
</div>-->

<center style="">
    <span id="span1" style="width: 100px;"><%= link_to "Создайте аккаунт", "/auth/identity/register" %></span> или
    <span id="span2" style=""><%= link_to "зайдите в систему", "/auth/identity" %></span> используя персональный пароль.

    <div class="velum">
      <img id="cover" src="/images/under_construction.jpg" alt="under construction" style="display:none;">
    </div>

    <ul id="mycarousel" class="jcarousel-skin-tango">
    <li><img src="http://static.flickr.com/66/199481236_dc98b5abb3_s.jpg" width="75" height="75" alt="" /></li>
    <li><img src="http://static.flickr.com/75/199481072_b4a0d09597_s.jpg" width="75" height="75" alt="" /></li>
    <li><img src="http://static.flickr.com/57/199481087_33ae73a8de_s.jpg" width="75" height="75" alt="" /></li>
    <li><img src="http://static.flickr.com/77/199481108_4359e6b971_s.jpg" width="75" height="75" alt="" /></li>
    <li><img src="http://static.flickr.com/58/199481143_3c148d9dd3_s.jpg" width="75" height="75" alt="" /></li>
    <li><img src="http://static.flickr.com/72/199481203_ad4cdcf109_s.jpg" width="75" height="75" alt="" /></li>
    <li><img src="http://static.flickr.com/58/199481218_264ce20da0_s.jpg" width="75" height="75" alt="" /></li>
    <li><img src="http://static.flickr.com/69/199481255_fdfe885f87_s.jpg" width="75" height="75" alt="" /></li>
    <li><img src="http://static.flickr.com/60/199480111_87d4cb3e38_s.jpg" width="75" height="75" alt="" /></li>
    <li><img src="http://static.flickr.com/70/229228324_08223b70fa_s.jpg" width="75" height="75" alt="" /></li>
  </ul>

    
</center>






<script type="text/javascript">

$('#span1').mouseover(function(){
    $(this).animate({
      opacity: 0.25,
      "font-size":"20px"
      //height: 'toggle'
    }, 100, function(){
      $(this).animate({
        opacity: 1
        //height: 'toggle'
        }, 100)
    });
});
$('#span1').mouseout(function(){
    $(this).animate({
      opacity: 1,
      "font-size":"16px"
      //height: 'toggle'
    }, 100)});

$('#span1').click(function(){
  alert("Регистрация пользователей работает исключительно в демонстрационном режиме");
});
$('#span2').mouseover(function(){
    $(this).animate({
      opacity: 0.25,
      "font-size":"20px"
      //height: 'toggle'
    }, 100, function(){
      $(this).animate({
        opacity: 1
        //height: 'toggle'
        }, 100)
    });
});
$('#span2').mouseout(function(){
    $(this).animate({
      opacity: 1,
      "font-size":"16px"
      //height: 'toggle'
    }, 100)});

function startAnim() {
    $("#cover").fadeIn(8000, function(){
        //$("img").fadeIn(3000);
    });
    startAnim();
}

$(document).ready(function(){
    $( "#datepicker" ).datepicker();
    $("#accordion").accordion();
    jQuery('#mycarousel').jcarousel();
    startAnim();
});


</script>

