<center>
  <img src='http://school26.edukit.zt.ua/files2/images/chat-at-poker.gif?size=6'>
  <br/>
  <textarea id="post" style="width:400px;" cols="40" rows="6">Чат пока не работает, нажмите кнопку</textarea>
  <br/>
  <button onclick="$('#posts_text').append('<p style=\'background-color: #EFEEFF\'>' + $('#post').val()+ '</p>'); $('#post').val('');">Опубликовать</button>
  <br/>

  <div id="posts_text" style="text-align: left; width: 400px;">
  </div>

</center>


